<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e29855ba-005b-43e4-bcd3-517d0be35dff" Alias="loginPage" Level="1">
  <Info>
    <Name>Login Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="97c67415-a134-4516-8611-8806adaa9777">contentHeadingDefault</Composition>
      <Composition Key="caf830a3-e324-45e1-a831-fc38fbcdb151">contentHeadingDefault1</Composition>
    </Compositions>
    <DefaultTemplate>loginPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ed99be60-7657-48ec-97b6-ac47e0db20f3">loginPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>